# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
   vmImage: 'ubuntu-20.04'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: UseDotNet@2
  displayName: Install DotNet 6
  inputs:
    version: 6.x

- task: DotNetCoreCLI@2
  displayName: Dotnet Restore BoletoNetCore
  inputs:
    command: 'restore'
    configuration: $(buildConfiguration)
    projects: '$(Build.SourcesDirectory)/BoletoNetCore/BoletoNetCore.csproj'

# - task: DotNetCoreCLI@2
#   displayName: Dotnet Restore BoletoNetCorePdf
#   inputs:
#     command: 'restore'
#     configuration: $(buildConfiguration)
#     projects: '$(Build.SourcesDirectory)/BoletoNetCore.Pdf/BoletoNetCore.Pdf.csproj'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    configuration: $(buildConfiguration)
    projects: 'BoletoNetCore/BoletoNetCore.csproj'
    arguments: '--configuration Release'

# - task: DotNetCoreCLI@2
#   inputs:
#     command: 'build'
#     configuration: $(buildConfiguration)
#     projects: 'BoletoNetCore.Pdf/BoletoNetCore.Pdf.csproj'
    
- task: CmdLine@2
  inputs:
    script: |
      echo "Structure of work folder of this pipeline:"
      tree $(Agent.WorkFolder)\1 /f

      echo "Bin:"
      cd "$(Build.SourcesDirectory)/BoletoNetCore/bin"
      ls

# - task: CopyFiles@2
#   inputs:
#     SourceFolder: '$(Build.SourcesDirectory)/BoletoNetCore/BoletoNetCore/bin/Release/'
#     Contents: '*.nupkg'
#     TargetFolder: '$(Build.ArtifactStagingDirectory)'
#     CleanTargetFolder: true

# - task: CopyFiles@2
#   inputs:
#     SourceFolder: '$(Build.SourcesDirectory)/BoletoNetCore.Pdf/BoletoNetCore.Pdf/bin/Release/'
#     Contents: '*.nupkg'
#     TargetFolder: '$(Build.ArtifactStagingDirectory)'

# - task: PublishBuildArtifacts@1
#   displayName: Publish Artifact
#   inputs:
#     PathtoPublish: '$(Build.ArtifactStagingDirectory)'
#     ArtifactName: 'BoletoNetCore'
#     publishLocation: 'Container'